[submodule "dependency/multiplePrototypeChain"]
	path = dependency/multiplePrototypeChain
	url = https://github.com/AppScriptIO/multiplePrototypeChain
	branch = build
[submodule "dependecy/appDeploymentLifecycle"]
	path = dependecy/appDeploymentLifecycle
	url = https://github.com/myuseringithub/appDeploymentLifecycle
