[submodule "dependency/appDeploymentLifecycle"]
	path = dependency/appDeploymentLifecycle
	url = https://github.com/myuseringithub/appDeploymentLifecycle
[submodule "dependency/multiplePrototypeChain"]
	path = dependency/multiplePrototypeChain
	url = https://github.com/AppScriptIO/multiplePrototypeChain
